.filePage{
    width: 100%;
    height: 90%;  

    .textareaWrapper{
        width: 100%;
        height: 88%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textarea{
        border: none;
        width: 100%;
        height: 100%;
        font-size: 18px;
        resize: none;
        outline: none;
        padding: 15px;
        box-sizing: border-box;
        background: #d9d9d930;
        overflow: scroll;

        &::placeholder{
            font-size: 18px;
        }

        &::-webkit-scrollbar {
            width: 10px;
            background-color: #f9f9fd;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #3d5262;
        }
    }

    .buttonWrapper{
        width: 100%;
        display: flex;
        gap: 40px;
        justify-content: flex-end;
        padding: 19px 20px;
        box-sizing: border-box;
    }
}

.hightlight{
    background: rgb(141, 255, 141);
}

@media (max-width: 400px){
    .filePage{

        .textareaWrapper{
            height: 83%;
        }

        textarea{
            font-size: 16px;
            &::placeholder{
                font-size: 16px;
            }
            
        }

    }
}

@media (max-width: 734px){
    .filePage{

        .textareaWrapper{
            height: 83%;
        }

    }
}